.header {
  height: 65px;         
  width: 100%;          
  display: flex;
  align-items: center;
  background: #FCFCFC;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.logoLink {
  display: flex;       // Убирает лишние отступы снизу у ссылки
  align-items: center;
  margin-left: 16px;  // Отступ слева от края хедера
  text-decoration: none;
  transition: opacity 0.2s ease; // Плавное мигание при наведении

  &:hover {
    opacity: 0.8;      // Эффект "нажатия"
  }

  .logo {
    height: 65px;      // Управляй размером логотипа здесь
    width: auto;
  }
}