.card {
  width: 18.75rem; // 300px
  height: 11.18rem; // 179px
  padding: 1.5rem 2rem;
  border-radius: 2.5rem;
  background: linear-gradient(50deg, #797F8D 0%, #0B0F1A 60%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statContent {
  display: flex;
  justify-content: space-between; // Число слева, проценты справа
  align-items: flex-end; // Прижимаем всё содержимое к низу
  width: 100%;
}

.splitValue {
  display: flex;
  align-items: baseline; // Ключевое свойство для дроби!
  line-height: 1;

  .mainNum {
    font-size: 4rem; // 72px
    font-weight: 300;
  }

  .divider {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.3);
    margin: 0 0.2rem;
  }

  .subNum {
    font-size: 2rem; // Меньше чем основное число
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
  }
}

.value {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.trend {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.25rem;
}